* {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  // color: #333;
  span {
    color: #777;
  }
}

.container-block {
  max-width: 750px;
  border: 1px solid #ACACAC;
}

// .active > svg > path {
//  fill: #fff!important; 
// }